 /* STYLING FOR THE HOME PAGE */


 /* this is for the default styling for the page */
 #home-default {
     font-family: 'playfair display', sans-serif;
     color: #FED18C;
     

 }

 /* everything within the hero-section is given this background color and it cuts the page off at the end of the image */
 .hero-section {
     background-color: #541675;
 }

 /* this alters the toggle-icon or hamburger menus so that that it is the correct color. I changed the rgba. */
 .navbar-light .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28254, 209, 140, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

 }

 /* this creates a border around the toggle menu/hamburger menu */
 .navbar-light .navbar-toggler {
     border: 1px solid #FED18C;
 }


 /* the links affects the links on this page by making the yellow the default color */
 .hero a {
     color: #FED18C;
     font-weight: 700;

 }

 /* this affects the links on this page by making the it have a color of purple as you hover over it */
 .hero a:hover {
     color: #9C89FF;

     text-shadow: 0px 4px 4px #00072D;

 }

 /* overrides .active class color by giving the active link a color of white */
 a.nav-link.first {
     color: #ffffee !important;
     text-decoration: wavy underline !important;
 }

 /* styling for my name */
 .my-name {


     font-weight: 800;
     font-size: 3.5rem;
     line-height: 133.99%;

     text-shadow: 0px 4px 4px #00072D;

 }

 /* styling for my position */
 .my-position {

     font-weight: 500;
     font-size: 1.5rem;
     line-height: 133.99%;

     text-shadow: 0px 4px 4px #00072D;
 }

 /* this affect the experience-level portion of the jumbotron */
 #experience-level {
     color: #ffffee;

     font-weight: 500;
     font-size: 1.5rem;
     line-height: 133.99%;

     text-shadow: 0px 4px 4px #00072D;
 }

 /* this is the styling of the learn more button */
 .hero-content .learn {
     border: 2px solid #FED18C;
     font-size: 1.2rem;
     color: #FED18C;
     font-weight: 800;
     text-shadow: 0px 4px 4px #00072D;

 }


 /* this affects the styling of the buttons next to let's connect  */
 .hero-content .connect {
     opacity: 0.9;

 }


 /* this affects the social media icoons so that they grow when you hoever over them */
 i:hover {
     /* it zooms 150% */
     transform: scale(1.5);
     transition: transform .2s;
     color: #9C89FF !important;

 }

 /* this changes the color of the line on the Jumbotron */
 hr {
     color: #9C89FF !important;

 }

 /* this affects the image on this page by changing the opacity */
 #portrait {
     opacity: 0.65;
 }

 @media screen and (min-width:320px) and (max-width:480px) {

     /* styling for my name */
     .my-name {

         font-style: italic;
         font-weight: 800;
         font-size: 1.9rem;
         line-height: 133.99%;

         text-shadow: 0px 4px 4px #00072D;

     }

     /* styling for my position */
     .my-position {

         font-weight: 500;
         font-size: 0.9rem;
         line-height: 133.99%;

         text-shadow: 0px 4px 4px #00072D;
     }

     /* this affect the experience-level portion of the jumbotron */
     #experience-level {
         color: #9C89FF;

         font-weight: 500;
         font-size: 0.9rem;
         line-height: 133.99%;

         text-shadow: 0px 4px 4px #00072D;
     }

     /* this is the styling of the learn more button */
     .hero-content .learn {
         border: 2px dotted #FED18C;
         font-size: 0.9rem;
         color: #FED18C;
         font-weight: 800;
     }

     .icon {
         font-size: 1.5rem ;
     }
 }

 /* END OF HOME SECTION */